/* Color Palette
# - color 1 422040
# - color 2 e57a44
# - color 3 e3d985
# - color 4 d6dbb2
# - color 5 bcd8c1
*/

/* Global styles 
------------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #422040;
    margin: 0;
    /*background: lightblue;*/
    h1 {
        font-family: "Roboto Mono", monospace;
        font-size: 40px;
        font-weight: 700;
    }
    h2 {
        font-family: "Roboto Mono", monospace;
        font-size: 30px;
        font-weight: 600;
        margin-top: 0; 
    }
    h3 {
        font-family: "Roboto Mono", monospace;
        font-size: 20px;
        font-weight: 500;
    }
    p {
        font-family: "Roberto", sans-serif;
        font-size: 15px;
        font-weight: 400;
    }
}


/* Header & Footer 
------------------------------------*/
header {
    background: #e57a44;
    .profile-img {
        /* width: 300px; */
        border-radius: 50%;
        /* margin-right: 30px;
        float: left; */
    }
    h1 {
        margin: 0;
    }
    h2 {
        margin: 0;
    }
}

footer {
    background: #e3d985;
    text-align: center;
}


/* Work Experience
------------------------------------*/
.work {
    BACKGROUND: #d6dbb2
}


/* Education
------------------------------------*/

.edu {
    BACKGROUND: #bcd8c1
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
}

.content-info a{
    padding: 10px;
    display: inline-block;
}

.column-narrow {
    width: 30%;
    float: left;
    padding-right: 3%;
    min-height: 175px;
}

.column-wide {
    width: 70%;
    float: left;
    min-height: 225px;
}